.pass{
    width: 400px;
    height: 40px;
    border: 5px dashed blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    background-color: aqua;
}